body {
    background-color: #f8f9fa; /* Light background */
}

.box {
    background-color: blue; /* Light steel blue */
    padding: 10px;
}

.box2 {
    background-color: red; /* Orange red */
    padding: 10px;
}

.box3 {
    background-color: blue; /* Deep sky blue */
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.box3 img {
    border-radius: 50%;
    margin-right: 10px;
}

.box3 p {
    background-color: #000; /* Black */
    color: #fff; /* White */
    padding: 10px;
    margin: 0;
    flex-grow: 1;
}
